# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Pytest & Coverage
.pytest_cache/
.coverage
htmlcov/
junit/

# Distribution & Build
build/
dist/
*.egg-info/
.eggs/

# IDE & Editor
.vscode/
.idea/
.DS_Store

# Temporary & Export Files
exported*.xml
*.mpp_exported.xml
tmp/
.tempmediaStorage/

# Virtual Environments
.venv/
venv/
ENV/
env/
